#text{
  color: white;
  font-family: Courier New;
  font-size: 30px;
  text-align: center;

}

body{
  background-color: rgb(255, 255, 255);
  color:rgb(0, 0, 0);
  height: 2000px;
  overflow-x: hidden;
}
#text{
  color:rgb(0, 0, 0);
}
pre {
  background: #524e4e;
  color: #000000;
  padding: 10px 16px;
  border-radius: 1px;
  -moz-box-shadow: inset 0 0 10px #000;
  box-shadow: inset 0 0 10px #000;
  counter-reset: line;
}
pre span {
  display: block;
  color:#ffffff;
  line-height: 0.1rem;
}
pre span:before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  border-right: 1px solid #ddd;
  padding: 1em;
  margin-right: .5em;
  color: #888;
}

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}
.fade-in.appear{
  opacity: 1;
}